<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
<div>
    <a href="/dashboard" class="btn btn-primary">Course Overview</a>
</div>
<div class="container">
    <form action="/course/data" method='post'>
        <h1>Get Course Details</h1>
        <div class="form-group row">
            <label for="latitude" class="form-label">Latitude</label>
            <input type="text" name="latitude" class="form-control" required="required">
        </div>
        <div class="form-group row">
            <label for="longitude" class="form-label">Longitude</label>
            <input type="text" name="longitude" class="form-control" required="required">
        </div>
        <div class="form-group row">
            <label for="radius" class="form-label">Radius</label>
            <input type="text" name="radius" class="form-control" required="required">
        </div>
        <button type="submit" value="Course" class="btn btn-primary mt-3">Course Search</button>
    </form>
</div>
<script src="static/js/script.js"></script>
</body>
</html>