<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Course</title>
</head>
<body>
<nav>
    <div class="d-flex col-11  justify-content-end">
        <a href="/dashboard" class="btn btn-info">Round Overview</a>
        <a href="/logout" class="btn btn-info">Logout</a>
    </div>

</nav>
<form action="/new" method="post" class="col-8 p-4 my-4 bg-dark text-light mx-auto">
    <h2 class="text-center">Add your upcoming round here!</h2>
    <div class="form-group row">
        <label for="course" class="form-label">Course:</label>
        <input type="text" name="course" class="form_control">
    </div>
    <div class="form-group row">
        <label for="hole" class="form-label">Holes:</label>
        <input type="text" name="hole" class="form_control">
    </div>
    <div class="form-group row">
        <label for="tee" class="form-label">Tees:</label>
        <input type="text" name="tee" class="form_control">
    </div>
    <div class="form-group row">
        <label for="date" class="form-label">Date:</label>
        <input type="date" name="date" class="form_control">
    </div>
    <button class="btn btn-primary">Add Course</button>
</form>
</body>
</html>